<div class="container">
  <div class="ui card">
    <br />
   <center><h1>FAQ's</h1>
   <h3>Need some help? Here is something to help you with any trouble or doubt.</h3>
   <div class="ui styled accordion">
   <div class="title">
     <i class="dropdown icon"></i>
     What is PIXAPI?
   </div>
   <div class="content">
     <p>Lorem ipsum dolor sit amet, ei quo dolorum concludaturque. At eam ludus molestie. Cu saepe dolore eos, eruditi electram cu pro, nec ne ignota consulatu. At sit lorem animal labores, debet cetero postulant ei mel. Mea idque theophrastus in. Eros aliquid consulatu ad ius, error labore epicurei ut mel.</p>
   </div>
   <div class="title">
     <i class="dropdown icon"></i>
     What kinds of images are there?
   </div>
   <div class="content">
     <p>Lorem ipsum dolor sit amet, ei quo dolorum concludaturque. At eam ludus molestie. Cu saepe dolore eos, eruditi electram cu pro, nec ne ignota consulatu. At sit lorem animal labores, debet cetero postulant ei mel. Mea idque theophrastus in. Eros aliquid consulatu ad ius, error labore epicurei ut mel.</p>
   </div>
   <div class="title">
     <i class="dropdown icon"></i>
     How do you use it?
   </div>
   <div class="content">
     <p>Lorem ipsum dolor sit amet, ei quo dolorum concludaturque. At eam ludus molestie. Cu saepe dolore eos, eruditi electram cu pro, nec ne ignota consulatu. At sit lorem animal labores, debet cetero postulant ei mel. Mea idque theophrastus in. Eros aliquid consulatu ad ius, error labore epicurei ut mel.</p>
   </div>
 </div>
     <br />
    <button class="questions ui button">Any Questions?</button></center>
  </div>
</div>