<div class="content">
<br>
  <div class="ui card">
    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <a class="popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
    </div>
    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
    </div>
    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
    </div>
    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <a class="ui popupimage" href=""><img src=""></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal fullscreen">
  <div class="image content">

    <div class="ui massive image"> <!-- or use "ui fluid image" !-->
      <img class="ui massive image" src="">
    </div>
  </div>
</div>