<div class="content">
<div class="ui card">
<div class="slider">
  <div class="slides">
    <div class="slide-item item1">
      <img class="image" src="" alt="First slide">
    </div>
    <div class="slide-item item2">
      <img class="image" src="" alt="Second slide">
    </div>
    <div class="slide-item item3">
      <img class="image" src="" alt="Third slide">
    </div>
  </div>
</div>
<a href=""><p>#tag</p></a> &nbsp; &nbsp; <a href=""><p>#tag</p></a>
</div>
</div>
</div>