<section class="panel green">
<div class="content">
<br>
<div class="ui card">
<center><div class="fotorama" data-autoplay="true" data-width="700" data-height="500">
  <img src="https://media.giphy.com/media/4N727YhwuoIX6N04CK/giphy.gif" data-caption="Easily detect broad sets of objects in your images.">
  <img src="https://media.giphy.com/media/LXgqRWilGJyLbYtgog/giphy.gif">
  <img src="https://media.giphy.com/media/2iihQaPamAQFsIKNQD/giphy.gif">
</div></center>
  <a href=""><p>#tag</p></a><a href=""><p>#tag</p></a>
</div>
</div>
</section>
<section class="panel blue">
<div id="welcome">
<h1 id="wlc">Welcome to PIXAPI</h1>
<div class="ui large buttons">
<a href="/users/sign_up"<button class="ui inverted button">Get started</button></a>
</div>
</div>
</section>
