<p id="notice"><%= notice %></p>

<h1><%= @tags[0].tag%></h1>

<div class="ui three stackable cards">
  <% @tags.each do |tag| %>
    <% tag.posts.each do |post| %>
      <div class="card">
        <div class="image">
          <%= image_tag post.image.service_url %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<br>

<%= link_to 'New Tag', new_tag_path %>
