<div class="pusher">
<div class="ui card">
<div class="scrolling content">
<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
</div>
<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
</div>
<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
</div>
<div class="ui three column grid">
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src="">
    </div>
  </div>
</div>
</div>
</div>
</div>