.pushable {
  background: #cce2ff !important;
  margin: 0;
}

body.pushable >.pusher {
  background: #F6F6F6;
}

.ui.card {
  margin: 0 auto;
  height: 70vh;
  width: 70vw;
}

.ui.left.sidebar{
  background-color: #041B15;

  h2 {
    color: white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0;
  }
}

.ui.inverted.menu .item {
  text-align: center;
}

.ui.medium.circular.image {
  margin-left: auto;
  margin-right: auto;
}

.ui.menu .item {
  font-size: 1.5rem;
  bottom: -70px;
}

.ui.medium.image {
  width: 180px;
}

.ui.buttons {
  margin-right: 1.2rem;
}

.ui.fluid.category.search {
  margin-right: 0.8rem;
}

.ui.cards > .card > .image{
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
}
.ui.cards > .card > .image > img {
  max-width: 98%;
  margin: auto;
  max-height: 98%;
}

.ui.primary.button {
  margin: 2px;
}

