@import './partials/*';

body {
  margin: 0 !important;
  background-color: #F6F6F6;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1ab7ea;
  padding: 10px 10px;
  margin: 0;

  & > * {
    flex: 1 1 0;
  }

  #top-nav-left {
    display: flex;
    align-items: center;
  }

  .ui.large.buttons {
    margin: auto;
    justify-content: center;
  }
}

#toggle {
  padding: 13px;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  .menutext {
    color: white;
    font-size: 15px;
    margin-top: 2px;
  }
}

.logo {
  font-size: 30px;
  color: white;
  margin-left: 16px;
  margin-bottom: -1px;
  flex: 1 1 auto;
  padding: -2px;
}

#toggle:hover {
  background-color: #11a5d6;
}

#signup, #login {
   margin: 3vh auto;
   width: 80vw;
   max-width: 500px;

  a {
    display: block;
    margin: 2vh 0;
  }

  .back {
    width: 40%;
  }
}

.pic {
    margin: 0 auto;
}

.delete{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;

  form {
    text-align: center;
  }
}

#avatar-container {
  margin: 3vh auto -5vh auto;
  width: 70%;

  #edit-avatar {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    bottom: 484px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    text-align: center;
    height: 183px;
    width: 183px;
    border-radius: 50%;
  }

  #edit {
    color: white;
    margin-top: 65px;
  }

  .big.inverted.white.edit.icon {
    margin-left: 15.5px;
  }

  img {
    width: 100%;
  }
}

.flex {
  display: flex;
  align-items: center;

  input {
    margin: 0 10px;
  }
}

.container {
  margin: 3vh 5vw;
}

input[type="file"] {
  display: none;
}

//.ui.form .field>label {
//  margin-right: 250px;
//}
//
//#createpost{
//  position: absolute;
//  margin-left: 200px;
//  margin-top: -40px;
//}

#content {
  min-height: 70vh;
}

.postheader{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 4px auto;
}

#newpost{
   margin-bottom: 20px;
}

.loop{
  &:hover {
    opacity: .8;
     cursor: pointer;
  }
}

.ui.modal {
  width: 80%;
  max-height: 95%;

  .close {
    top: 0;
    right: 0;
    color: red;
  }

  .header {
    padding: 10px 15px;
  }

  span {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
  }

  .modal-inner-container {
    display: flex;
    width: 95%;
    margin: 10px auto;

    .image.content {
      width: 55%;
      margin-right: 30px;

      .ui.massive.image {
        img {
          margin: auto;
          max-height: 60vh;
        }
      }

      .content {
        width: 80%;
        margin: 15px auto 0 auto;
        text-align: center;
      }
    }
  }
}

#upload-submit {
  display: flex;
  justify-content: space-around;
}

.trash {
  color: red;
}

@media (max-width: 500px) {
  #github-container, .logo:not(:first-child) {
    display: none;
  }
}