/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require_self
 *= require commontator/application
 */

body {
  margin: 0 !important;
  background-color: #F6F6F6;
}

.top-nav {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1ab7ea;
  padding: 10px 10px;
  margin: 0;

  & > * {
    flex: 1 1 0;
  }

  #top-nav-left {
    display: flex;
    align-items: center;
  }

  .ui.large.buttons {
    margin: auto;
    justify-content: center;
  }
}

#toggle {
  padding: 13px;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  .menutext {
    color: white;
    font-size: 15px;
    margin-top: 2px;
  }
}

.logo {
  font-size: 30px;
  color: white;
  margin-left: 16px;
  margin-bottom: -1px;
  padding: -2px;
}

#toggle:hover {
  background-color: #11a5d6;
}

#signup, #login {
   margin: 3vh auto;
   width: 80vw;
   max-width: 500px;

  a {
    display: block;
    margin: 2vh 0;
  }

  .back {
    width: 40%;
  }
}

.pic {
    margin: 0 auto;
}

.delete{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;

  form {
    text-align: center;
  }
}

#avatar-container {
  margin: 3vh auto -5vh auto;
  width: 70%;
  position: absolute;
  left: 15%;
  top: 10%;

  #edit-avatar {
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    text-align: center;
    height: 183px;
    width: 183px;
    border-radius: 50%;
  }

  #edit {
    color: white;
    margin-top: 65px;
  }

  .big.inverted.white.edit.icon {
    margin-left: 15.5px;
  }

  img {
    width: 100%;
  }
}

#nav-links {
  position: absolute;
  top: 30%;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;

  input {
    margin: 0 10px;
  }
}

.container {
  margin: 3vh 5vw;
}

input[type="file"] {
  display: none;
}

//.ui.form .field>label {
//  margin-right: 250px;
//}
//
//#createpost{
//  position: absolute;
//  margin-left: 200px;
//  margin-top: -40px;
//}

#content {
  min-height: 70vh;
}

.postheader{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 4px auto;
}

#newpost{
   margin-bottom: 20px;
}

.loop{
  &:hover {
    opacity: .8;
     cursor: pointer;
  }
}

.ui.modal {
  width: 80%;
  max-height: 95%;

  .close {
    top: 0;
    right: 0;
    color: red;
  }

  .header {
    padding: 10px 15px;
  }

  h3 {
    text-align: center;
  }

  .modal-inner-container {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 10px auto;

    .image.content {
      width: 55%;
      margin-right: 30px;

      .ui.massive.image {
        img {
          margin: auto;
          max-height: 60vh;
        }
      }

      .content {
        width: 80%;
        margin: 15px auto 0 auto;
        text-align: center;
      }
    }
  }
}

#upload-submit {
  display: flex;
  justify-content: space-around;
}

.trash {
  color: red;
}

.thread_comment_list {
  overflow: auto;
  height: 45vh;
}

.thread_header {
  width: 25vw;
}

@media (max-width: 500px) {
  #github-container, .logo:not(:first-child) {
    display: none;
  }
}