// Place all the styles related to the faq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'font-awesome';

.ui.card {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
}