<% if @user %>
  <div class="pusher">
    <%# if current_user %>
      <%#= form_for(@user) do |f| %>
        <%#= f.file_field :image %>
        <%#= f.file_field :uploads, multiple: true %>
      <%# end %>
    <%# end %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter">
      Edit Profile
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle">Edit Profile</h5>
            <button type="button" class="cancel" data-dismiss="modal" aria-label="Cancel">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit Profile</button>
            <button type="button" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>This user does not exist!</p>
<% end %>